$color-pokemon-very-common: #64B3DF;
$color-pokemon-common: #115778;
$color-pokemon-popular: #9DE259;
$color-pokemon-rare: #548724;
$color-pokemon-very-rare: #FE7C22;
$color-pokemon-epic: #FF2E12;
$color-pokemon-special: #9E1716;
$color-pokemon-legendary: #9D44BA;
$color-menu-mobile: #456;
$screen-mobile: 480px;