 @import "_constants.scss";
 html {
     position: relative;
     min-height: 100%;
 }
 
 body {
     /* Margin bottom by footer height */
     margin-bottom: 60px;
     font-family: 'Roboto', sans-serif;
 }
 
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 60px;
     line-height: 60px;
     /* Vertically center the text there */
     background-color: #f5f5f5;
 }
 /* Custom page CSS
-------------------------------------------------- */
 /* Not required for template or sticky footer method. */
 
 body>.container {
     padding: 80px 15px 0;
 }
 
 .footer>.container {
     padding-right: 15px;
     padding-left: 15px;
 }
 
 code {
     font-size: 80%;
 }
 
 .navbar {
     height: 70px;
     background-color: seagreen;
     border-radius: 0;
     color: snow;
     padding-top: 0px;
     padding-bottom: 0px;
     .navbar-brand {
         color: #fff;
         line-height: 70px;
         padding: 0px;
     }
     .nav {
         height: 70px;
         li {
             height: 100%;
         }
         .nav-link {
             color: #fff;
             line-height: 70px;
             padding: 0px 15px;
         }
         .nav-item {
             margin-left: 0px;
             &:hover {
                 background: #F0E355;
                 border-bottom: solid 4px #EB4700;
             }
             &.active {
                 background: #FAD400;
                 border-bottom: solid 4px #da4733;
             }
             &.counter {
                 float: right;
                 height: 40px;
                 margin-top: 15px;
                 padding: 10px 15px;
                 border-radius: 5px;
                 background-color: orangered;
                 color: #fff;
                 font-weight: bold;
                 .settings {
                     cursor: pointer;
                 }
             }
             #sort-indicator {
                 margin-left: 6px;
             }
         }
     }
 }
 
 //  pokemon item
 .pokemon-item {
     .sniper-links {
         position: absolute;
         top: 50px;
         left: 20;
         display: none;
         background: url('images/snipe-icon.svg');
         background-size: cover;
         width: 200px;
         height: 200px;
     }
     &:hover {
         .sniper-links {
             display: block;
         }
     }
     .card {
         &.Common {
             border-color: $color-pokemon-common;
             .card-header {
                 background-color: $color-pokemon-common;
                 color: #fff;
             }
         }
         &.Rare {
             border-color: $color-pokemon-rare;
             .card-header {
                 background-color: $color-pokemon-rare;
                 color: #fff;
             }
         }
         &.Uncommon {
             border-color: $color-pokemon-popular;
             .card-header {
                 background-color: $color-pokemon-popular;
                 color: #fff;
             }
         }
         &.VeryRare {
             border-color: $color-pokemon-very-rare;
             .card-header {
                 background-color: $color-pokemon-very-rare;
                 color: #fff;
             }
         }
         &.SuperRare {
             border-color: $color-pokemon-special;
             .card-header {
                 background-color: $color-pokemon-special;
                 color: #fff;
             }
         }
     }
 }
 
 .load-bar {
     position: relative;
     margin-top: 20px;
     width: 100%;
     height: 6px;
     background-color: #fdba2c;
 }
 
 .bar {
     content: "";
     display: inline;
     position: absolute;
     width: 0;
     height: 100%;
     left: 50%;
     text-align: center;
 }
 
 .bar:nth-child(1) {
     background-color: #da4733;
     animation: loading 3s linear infinite;
 }
 
 .bar:nth-child(2) {
     background-color: #3b78e7;
     animation: loading 3s linear 1s infinite;
 }
 
 .bar:nth-child(3) {
     background-color: #fdba2c;
     animation: loading 3s linear 2s infinite;
 }
 
 @keyframes loading {
     from {
         left: 50%;
         width: 0;
         z-index: 100;
     }
     33.3333% {
         left: 0;
         width: 100%;
         z-index: 10;
     }
     to {
         left: 0;
         width: 100%;
     }
 }
 /* Box Shadow Outset */
 
 .hvr-box-shadow-outset {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: box-shadow;
     transition-property: box-shadow;
 }
 
 .hvr-box-shadow-outset:hover,
 .hvr-box-shadow-outset:focus,
 .hvr-box-shadow-outset:active {
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
 }