 @import "_constants.scss";
 html {
     position: relative;
     min-height: 100%;
 }
 
 body {
     /* Margin bottom by footer height */
     margin-bottom: 60px;
     font-family: 'Roboto', sans-serif;
 }
 
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 60px;
     line-height: 60px;
     /* Vertically center the text there */
     background-color: #f5f5f5;
 }
 /* Custom page CSS
-------------------------------------------------- */
 /* Not required for template or sticky footer method. */
 
 body>.container {
     padding: 80px 15px 0;
     @media (max-width: $screen-mobile) {
         padding-top: 50px;
     }
 }
 
 .footer>.container {
     padding-right: 15px;
     padding-left: 15px;
 }
 
 code {
     font-size: 80%;
 }
 
 .navbar {
     height: 70px;
     @media (max-width: $screen-mobile) {
         height: 40px;
         .navbar-toggleable-xs {
             background-color: $color-menu-mobile;
             margin-top: 2px;
         }
         .container {
             padding-left: 0px;
         }
     }
     background-color: seagreen;
     border-radius: 0;
     color: snow;
     padding-top: 0px;
     padding-bottom: 0px;
     .navbar-brand {
         color: #fff;
         line-height: 70px;
         padding: 0px;
         &:hover {
             color: #fff;
         }
     }
     .counter {
         float: right;
         height: 40px;
         margin-top: 15px;
         padding: 10px 15px;
         border-radius: 5px;
         background-color: orangered;
         color: #fff;
         font-weight: bold;
         i {
             cursor: pointer;
             margin-right: 5px;
         }
         @media (max-width: $screen-mobile) {
             position: fixed;
             top: -10px;
             right: 15px;
             height: 30px;
             padding-top: 5px;
         }
     }
     .nav {
         height: 70px;
         @media (max-width: $screen-mobile) {
             height: 40px;
         }
         li {
             height: 100%;
         }
         .nav-link {
             color: #fff;
             line-height: 70px;
             padding: 0px 15px;
             @media (max-width: $screen-mobile) {
                 line-height: 40px;
             }
         }
         .nav-item {
             margin-left: 0px;
             &:hover {
                 background: #F0E355;
                 border-bottom: solid 4px #EB4700;
             }
             &.active {
                 background: #FAD400;
                 border-bottom: solid 4px #da4733;
             }
             #sort-indicator {
                 margin-left: 6px;
             }
             @media (max-width: $screen-mobile) {
                 background-color: $color-menu-mobile;
             }
             &.counter {
                 height: 40px;
                 background-color: orangered !important;
             }
         }
     }
 }
 
 @mixin box-rarity-css($color) {
     border-color: $color;
     .card-header {
         background-color: $color;
         color: #fff;
     }
 }
 
 //  pokemon item
 .pokemon-item {
     .sniper-links {
         transition: all 1.3s ease;
         position: absolute;
         top: 50px;
         left: 20px;
         display: none;
         background: url('images/snipe-icon.svg');
         background-size: cover;
         width: 100px;
         height: 100px;
     }
     &:hover {
         .sniper-links {
             display: block;
         }
     }
     .card {
         .card-title {
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
         }
         &.VeryCommon {
             @include box-rarity-css($color-pokemon-very-common);
         }
         &.Common {
             @include box-rarity-css($color-pokemon-common);
         }
         &.Rare {
             @include box-rarity-css($color-pokemon-rare);
         }
         &.Uncommon {
             @include box-rarity-css($color-pokemon-popular);
         }
         &.VeryRare {
             @include box-rarity-css($color-pokemon-very-rare);
         }
         &.Special {
             @include box-rarity-css($color-pokemon-special);
         }
         &.Epic {
             @include box-rarity-css($color-pokemon-epic);
         }
     }
     .gg-link {
         margin-right: 8px;
     }
     .place-name {
         display: block;
         font-size: 15px;
     }
     .moves {
         font-size: 13px;
         color: orangered;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         display: block;
         width: 100%;
     }
     .clipboard-copy {
         background: url('images/clippy.svg');
         background-size: cover;
         display: inline-block;
         width: 24px;
         height: 24px;
         position: absolute;
         right: 4px;
         bottom: 4px;
         opacity: 0.4;
         z-index: 1001;
         cursor: pointer;
         &:hover {
             opacity: 1;
         }
     }
     .list-row {
         display: none;
     }
 }
 
 .list-view {
     .pokemon-item {
         display: table-row;
         width: 100% !important;
         .card {
             display: none;
         }
         .list-row {
             width: 100%;
             height: auto;
             overflow: auto;
             display: block;
             &.VeryCommon {
                 @include box-rarity-css($color-pokemon-very-common);
             }
             &.Common {
                 @include box-rarity-css($color-pokemon-common);
             }
             &.Rare {
                 @include box-rarity-css($color-pokemon-rare);
             }
             &.Uncommon {
                 @include box-rarity-css($color-pokemon-popular);
             }
             &.VeryRare {
                 @include box-rarity-css($color-pokemon-very-rare);
             }
             &.Special {
                 @include box-rarity-css($color-pokemon-special);
             }
             &.Epic {
                 @include box-rarity-css($color-pokemon-epic);
             }
             >div {
                 float: left;
                 &.pokemon-image-cell {
                     width: 10%;
                     &:hover {
                         a {
                             display: block;
                         }
                     }
                 }
                 &.iv {
                     width: 10%;
                 }
                 &.pokemon-name {
                     width: 15%;
                 }
                 &.coords {
                     width: 20%;
                 }
                 &.timer {
                     width: 5%;
                 }
                 &.moves {
                     padding-left: 15px;
                     width: 25%;
                 }
                 .sniper-links {
                     top: 0px;
                     left: 15px;
                     width: 50px;
                     height: 50px;
                 }
                 &.actions-links {
                     width: 5%;
                     .clipboard-copy {
                         position: relative;
                         float: right;
                     }
                 }
             }
         }
     }
 }
 
 .load-bar {
     position: relative;
     margin-top: 20px;
     width: 100%;
     height: 6px;
     background-color: #fdba2c;
 }
 
 .bar {
     content: "";
     display: inline;
     position: absolute;
     width: 0;
     height: 100%;
     left: 50%;
     text-align: center;
 }
 
 .bar:nth-child(1) {
     background-color: #da4733;
     animation: loading 3s linear infinite;
 }
 
 .bar:nth-child(2) {
     background-color: #3b78e7;
     animation: loading 3s linear 1s infinite;
 }
 
 .bar:nth-child(3) {
     background-color: #fdba2c;
     animation: loading 3s linear 2s infinite;
 }
 
 @keyframes loading {
     from {
         left: 50%;
         width: 0;
         z-index: 100;
     }
     33.3333% {
         left: 0;
         width: 100%;
         z-index: 10;
     }
     to {
         left: 0;
         width: 100%;
     }
 }
 /* Box Shadow Outset */
 
 .hvr-box-shadow-outset {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: box-shadow;
     transition-property: box-shadow;
 }
 
 .hvr-box-shadow-outset:hover,
 .hvr-box-shadow-outset:focus,
 .hvr-box-shadow-outset:active {
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
 }
 
 @import "_settings.scss";
 @import "_sidebar.scss";
 @import "awesome-bootstrap-checkbox.scss";
 @import "_flags.scss"